body{
    background-color: rgb(155, 208, 229);
}
h2{
    font-style: oblique;  
    background-color: rgb(212, 240, 252);  
}
h1{
    font-style: italic;
}
li{
    text-align: justify;
    font-style: italic;
}
p{
    font-style: italic;
}
h1{
    background-color:rgb(212, 240, 252);
}